#search {
    width: 50%;
    text-align: center;
    padding: 2px;
    cursor: auto;
    background-color: transparent;
    color: var(--static-white);
    height: 95%;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    nav {
        justify-content: space-evenly;
    }
}