#slide-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

#slide-bar {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slide-bar-item {
    width: 100px;
    height: 4px;
    background-color: var(--static-slide-inactive);
}

.slide-bar-item-active {
    background-color: var(--static-slide-active);
}

#slide-content {
    overflow-x: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.content {
    display: none;
    position: relative;
    width: 80%;
    min-height: 100px;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #151517;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.arrow-symbol {
    margin: 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#slide-left {
    left: 20px;
}

#slide-right {
    right: 20px;
}

@keyframes slideLeft {
    0% {
        left: 100%; 
    }
    100% {
        left: 0; 
    }
}

@keyframes slideRight {
    0% {
        right: 100%; 
    }
    100% {
        right: 0; 
    }
}