*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb{
    background-color: #2b2b22;
}

:root{
    --body:#312E39;
    --text:#FFF;

    --navbar:#1C1B21;
    --articles:linear-gradient(130deg, #F1C8FF 0%, #CC45FC 43%, #B603F4 100%);
    --navigate-hover:#D1BBBB;

    --title-emphasis:#CB9630;

    --decoration:#2B2932;

    --subtitle: #E1C286;

    --project-link: #FFD2D2;

    --subtitle-project: #1e1d22;

    --h3: #E1C286;

    --post:#2b2932;
    --info:#201e27;
    --p-info:#000000;

    --footer:#1C1B21;

    --code-background: #201e27;
    --code-text: #FFFFFF;

    --leadership: #D67E1C;
    --teamwork: #6FA6E9;
    --self-knowledge: #8D58B0;
    --communicative: #EF5757; 
    --agile: #4EBE74; 
    --adaptability: #FFB347; 
    --problem-solving: #3D85C6; 
    --time-management: #A0C864;
    --constant-study: #9C6BFF;
    --creativity: #FF6EEC;
    --critical-thinking: #F7B731; 
}

body{
    background-color: var(--body);
}

p{
    color: var(--text);
}

h2{
    margin: auto;
    width: 90vw;
    text-align: center;
    font-size: 44px;
    color: var(--subtitle);
}

.project {
    padding-top: 5vh;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    margin: auto;
    margin-top: 8vh;
    width: 85vw;
    font-size: 22px;
    text-align: center;
    color: var(--h3);
}

@media screen and (min-width: 1024px) {
    h2{
        margin:auto;
        width: 83vw;
        text-align: left;    
    }

    h3{
        margin: 0;
        margin-top: 4vh;
        text-align: left;
        width: 100%;
    }
    
}